<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="cart-modal">
    <div id="mdCart" class="modal fade bs-example-modal-lg" data-keyboard="true" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Your Shopping Cart
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-image tb-cart-product">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Size</th>
                            <th scope="col">Total</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <hr>
                    <h4>Order Information</h4>
                    <form id="frm-order-info">
                        <div class="form-group">
                            <label for="order-full-name">Full name</label>
                            <input type="text" class="form-control" id="order-full-name" placeholder="Enter full name">
                        </div>
                        <div class="form-group">
                            <label for="order-phone-number">Phone number</label>
                            <input type="text" class="form-control" id="order-phone-number" placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                            <label for="order-address">Address</label>
                            <input type="text" class="form-control" id="order-address" placeholder="Enter address">
                        </div>
                    </form>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-update-cart">Update</button>
                    <div class="d-flex justify-content-end">
                        <h5>Total: <span class="grand-total-price text-danger"></span></h5>
                    </div>
                    <button type="button" class="btn btn-success" id="btn-checkout">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>